<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Data</title>
    <link rel="stylesheet" type="text/css" href="/home/dushyant/Desktop/Github/smart_power/static/BlockData.css">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>


<h1 align="center"><u>Block Live Details</u></h1>
<br>

<div style="margin: auto; width: 90%; position: absolute; left: 27%">
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b><u>Block Number : {{ blocks_data["block_number"] }}</u></b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Previous Block Hash</b></a>
                    <br>
                    <font color="white">{{ blocks_data["previous_hash"] }}</font>
                    <br>
                    <a href="#"><b>Proof</b></a>
                    <br>
                    <font color="white">{{ blocks_data["proof"] }}</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">{{ blocks_data["timestamp"] }}</font>
                    <br>
                    <a href="#"><b>Total Transactions</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transaction_lengh"] }}</font>
                </div>
              </div>
            </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<h3 align="center"><u>Transaction Details</u></h3>
<br>

<ul type="None">

{% for i in range(0, blocks_data["transaction_lengh"]) %}

    <li>

<div style="margin: auto; width: 45%; >
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b><u>Transaction Number : {{ i + 1 }}</u></b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Item ID</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transactions"][i]["item_id"] }}</font>
                    <br>
                    <a href="#"><b>Item Name</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transactions"][i]["item_name"] }}</font>
                    <br>
                    <a href="#"><b>Item Quantity</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transactions"][i]["item_quantity"] }}</font>
                    <br>
                    <a href="#"><b>Item Amount</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transactions"][i]["item_amount"] }}</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">{{ blocks_data["transactions"][i]["tiestamp"] }}</font>
                </div>
              </div>
            </div>
    </div>
</div>

{#   {{ transaction["item_id"] }} #}

    </li>


    </ul>

{% endfor %}





</body>
</html>